<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MixologyHub</title>
    <link rel="stylesheet" href="/phpWebSite/src/view/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="container">
            <span class="logo">MixologyHub</span>
            <nav>
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Find</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">About Us</a></li>
                    <li class="btn"><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </header>

        <div class="hero container">
            <div class="hero--info">
                <h2>MixologyHub</h2>
                <h1>We introduce you a large hub of cocktails.</h1>
                <p>Everyone can use this site to embellish his evening!</p>
                <button class="btn">Let's get started...</button>
            </div>
            <img src="/phpWebSite/assets/images/cocktail-home.png" alt="Cocktail Image" style="width: 400px; height: 600px;">
            <img src="/phpWebSite/assets/images/ice-cubes-home.png" alt="Ice Cubes Image" style="width: 200px; height: 360px; top: 190px; right: 290px;">
        </div>

        <div class="container trending">
            <h3>Currently Trending Receipts</h3>
            <a href="#" class="see-all">SEE ALL</a>

            <div class="trending-cocktails">
                <div class="block">
                    <img src="/phpWebSite/assets/images/aperol-trending.jpg" alt="">
                    <span><img src="/phpWebSite/assets/images/flame-trending.png" alt="Flame"></span>
                </div>
                <div class="block">
                    <img src="/phpWebSite/assets/images/margarita-trending.jpg" alt="">
                    <span><img src="/phpWebSite/assets/images/flame-trending.png" alt="Flame"></span>
                </div>
                <div class="block">
                    <img src="/phpWebSite/assets/images/tekilasunrise-trending.jpg" alt="">
                    <span><img src="/phpWebSite/assets/images/flame-trending.png" alt="Flame"></span>
                </div>
                <div class="block">
                    <img src="/phpWebSite/assets/images/mohito-trending.jpg" alt="">
                    <span><img src="/phpWebSite/assets/images/flame-trending.png" alt="Flame"></span>
                </div>
            </div>

        </div>

    </div>

</body>
</html>