@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;

}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #ff8200;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 2px solid #DC7000;
}

header nav ul li.btn a, .email .block button{
    background: #DC7000;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover{
    background: #faae67;
}

.hero {
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    font-weight: bold;
    color: #DC7000;
    font-size: 30px;
}

.hero--info h1 {
    font-weight: bold;
    font-size: 50px;
}

.hero--info p {
    font-weight: bold;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-about .info .btn {
    background: #DC7000;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-weight: bold;
    font-size: 18px;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    background: #ff8200;
    cursor: pointer;
    transform: scale(1.1);

}

.hero img {
    position: absolute;
    top: -100px;
    right: 250px;
}

.trending {
    padding-top: 50px;
}

.trending-cocktails img{
    width: 300px;
    height: 250px;
    border-radius: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all {
    color: #fff;
    background: #ff8200;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover {
    transform: scale(1.1);
}

.trending .trending-cocktails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .trending-cocktails span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .trending-cocktails span img{
    width: 20px;
    height: 30px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.big-text {
    padding: 50px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 1200px;
}

.banner {
    width: 1400px;
    margin-bottom: 30px;
    border-bottom: 0 solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner h3 {
    color: #fff;
    background: #000000;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner ul {
    position: relative;
    background: #000000;
}

.banner ul:hover li {
    opacity: 0.2;
}

.banner ul li {
    margin-bottom: 10px; /* Добавляет отступ между элементами списка */
    list-style: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    background: #000000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.banner ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #000000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}

.banner ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ff8200;
    color: #000000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    transform: translateY(-2px);
}

.banner ul li:hover span {
    background: #ff8200;
    color: #000000;
}

.banner p {
    display: block;
    line-height: 170%;
    width: 700px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.banner b{
    color: #ff8200;
}

.banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

/*--------------------Lower part--------------------*/
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}
.email p{
    font-size: 20px;
}

.email .block {
    background: #1c140f;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
    font-size: 25px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 30px;
    color: #DC7000;
    position: relative;
    right: -105px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: 0;
    position: relative;
    z-index: 2;
    color: #fff;
}

/*--------------------About--------------------*/
.hero-about {
    position: relative;
}

.hero-about img {
    position: absolute;
    right: 100px;
    top: 0;
    width: 450px;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.hero-about .info h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.work {
    padding: 10px 0;
    padding-bottom: 60px;
}

.work h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks{
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1c140f;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #560f67;
}

.work .blocks .block .badge.brown {
    background: #31190d;
}

.work .blocks .block .badge.green {
    background: #192a1d;
}

/*--------------------Contact us--------------------*/
.hero-contacts h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 30px;
}

.hero-contacts p {
    text-align: center;
}

.hero-contacts img {
    width: 60%;
    margin: 50px 22%;
}

.feedback {
    padding: 70px 0;
    background: #1c140f;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline{
    display: flex;
    justify-content: space-between;
}

.feedback form .inline>div{
    width: 50%;
}

.feedback form label{
    color: #4f4f4f;
    font-size: 14px;
}

.feedback form input, .feedback form textarea {
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 96%;
}

.feedback form textarea {
    resize: none;
    height:  200px;
}

.feedback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 20px;
    margin-right: 25px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #b01414;
}

/*--------------------Footer--------------------*/
footer{
    background: #000;
    padding: 50px 0;
}

footer a{
    color: white;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .block h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li, footer .blocks p {
    margin-top: 7px;
    opacity: 0.5;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}

/*Scroll to top*/
.scroll-to-top {
    display: none; /* Изначально скрыто */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #DC7000; /* Цвет фона */
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
    transform: rotate(-90deg);
    transition: opacity 0.3s ease;
}

.scroll-to-top img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.scroll-to-top:hover {
    background-color: #ff8200; /* Цвет фона при наведении */
}

/*--------------------Registration--------------------*/
.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #281d16;
}
.registration .container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #1c140f;
    border-radius: 8px;
}
.registration form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration label {
    display: block;
    margin: 15px 0 5px;
    color: #4f4f4f;
    align-items: center;
}

.registration form input {
    color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #2c2420;
    border-radius: 4px;
}

.registration form h2 {
    text-align: center;
}

.registration button {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background: #DC7000;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    align-self: center;
    transition: all 500ms ease;
}

.registration button:hover {
    background: #b01414;
}

.registration p {
    color: #4f4f4f;
    margin: 30px 0 5px 0;
}
.registration a {
    color: #ffffff;
}